/********************************************************************************************************************************************************************
Комбинирование селекторов
*********************************************************************************************************************************************************************/
h1, h2, h3 {					/*Перечисление*/
	font-weight: bold;
  }

  .selector.selector_modificator {			/*Объеденение классов под одно св-во*/
	color: red;
  }

  article h3 {						/*Наследование*/
	color: red;
  }

  article > h3 {				/*Заголовок вложенный в артикл*/
	color: red
  }

  label + input {			/*Инпут после лейбла красится в красный*/
	color: red;
  }
  p ~ ul {						/*Установить цвет фона для всех элементов <ul>, которым предшествует элемент <p> с тем же родителем:*/
    background: #ff0000;
}
/********************************************************************************************************************************************************************
Бокс сайз - как браузер будет считать отступы
*********************************************************************************************************************************************************************/
* {
	box-sizing: border-box;                 /*И проболем будет меньше при суммировании padding, margin, width, height*/
  }


/********************************************************************************************************************************************************************
Формы
*********************************************************************************************************************************************************************/
input[type=checkbox] {
	accent-color: red;         /*Разукрашка конопочек*/
	caret-color: red;            /*Цвет курсора в формочке*/
}



/********************************************************************************************************************************************************************
Выравнивание контента Flex и Grid
*********************************************************************************************************************************************************************/
div {
	align-content: center;      /*Выравнивание Flex эллементов*/
	align-items: center;          /*Выравнивание контента вынутри FLex*/
	align-self: center;              /*Выравнивание контента внутри Flex gj оттдельности*/
}



/********************************************************************************************************************************************************************
Значение ALL - игнарирует все унаследованные св-ва - не совсем понятно нах оно нужно
*********************************************************************************************************************************************************************/
#ex3 {
	background-color: yellow;
	color: red;
	all: initial;
}



/********************************************************************************************************************************************************************
Сохранение соотношение сторон
*********************************************************************************************************************************************************************/
div {
	aspect-ratio: 3 / 2;
}



/********************************************************************************************************************************************************************
Добавление фильтра на Background
*********************************************************************************************************************************************************************/
div.transbox {
 	background-color: rgba(255, 255, 255, 0.4);
 	-webkit-backdrop-filter: blur(5px);
 	backdrop-filter: blur(5px);
}



/********************************************************************************************************************************************************************
Background
*********************************************************************************************************************************************************************/
body {
	background-attachment: fixed;             /*При прокрутки, что будет с картинкой, fixed - картинка с прокруткой, loacl - прокрутка с контентом*/
	background-blend-mode: lighten;       /*Перекрытие, как в фотошопе*/
	background-clip: padding-box;             /*Поведение фона внутри, по padding, border, content*/
	background-image: url("paper.gif");     /*Понятно*/
	background-color: #cccccc;               /*Понятно*/
	background-size: 312px;                           /*Понятно*/
	background-position: 0 0;                       /*Понятно*/
	background-repeat: no-repeat;              /*Понятно*/
}



/********************************************************************************************************************************************************************
Border - Границы блока
*********************************************************************************************************************************************************************/
#example1 {
	border: 2px solid red;
	border-radius: 25px;                /*Закругление*/
	border-spacing: 2vh;              /*Для таблиц*/
    outline:2px solid red;        /*Бордер снаружи*/
}



/********************************************************************************************************************************************************************
Box - эффекты для блоков
*********************************************************************************************************************************************************************/
img {
	-webkit-box-reflect: below;                       /*Клонирование*/
	box-shadow: 5px 10px #888888;       /*Тень*/
	block-size: border-box;                             /*Включает отсутпы, рамки, высоту и ширину*/
}



/********************************************************************************************************************************************************************
Таблицы
*********************************************************************************************************************************************************************/
#example1 {
	caption-side: bottom;   /*Положение таблицы*/
}



/********************************************************************************************************************************************************************
Блок для газеты
*********************************************************************************************************************************************************************/
div {
	height:  200px;;
	column-count: 3;                                  /*Разделение текста  на 3 колоны*/
	column-fill: balance;                           /*Хз, типо просто автоматически балансирует блочные эллементы*/
	column-gap: 30px;                              /*Рассточяние между блочками*/
	column-rule: 4px solid red;         /*Border между блочками*/
	columns: 10px 2;                                 /*Ну типо ширина и кол-во колонок*/
}



/********************************************************************************************************************************************************************
При наведение курсора на блок, что будет
*********************************************************************************************************************************************************************/
.all-scroll {cursor: all-scroll;}           /*Перетаскивание эллемента (состояние курсора)*/



/********************************************************************************************************************************************************************
Изображения
*********************************************************************************************************************************************************************/
img {
	filter: grayscale(100%);          /*Фильтр всех изображений на ЧБ*/
    object-fit: cover;                      /*Обрезает изображение, до установлененных значений HEIGHT, WIDTH*/
}

.mask1 {
    mask: url(w3logo.png) no-repeat 50% 50%;     /*Маска для изображения (окрашивает изображения, картинкой снизу)*/
  }

  .container {
    background-color: red;
  }
  
  .container img {
    mix-blend-mode: darken;          /*Взаимодействие img c background*/
  }
/********************************************************************************************************************************************************************
Flex
*********************************************************************************************************************************************************************/
div:nth-of-type(2) {
	display: flex;
	flex-direction: row;	       /*Положение эллементов (справа), column (по вертикали)*/
	flex-basis: 100px;			    /*Конкретно 2-ой эллемент в флексе будет 100px*/
    gap: 50px;                         /*Размер между эллементами блока*/
	align-content:   значение;   /* выравнивает ряды по вертикали ↓↑*/                                      /*start, center, end, stretch(SCE)*/
	justify-content: значение;   /* выравнивает колонки по горизонтали ←→	*/                        
	place-content: cener;            /*Два значения сразу*/                                                                 
    order: 3;                                   /*Порядок эллементов в блоке*/        
}



/********************************************************************************************************************************************************************
Grid
*********************************************************************************************************************************************************************/
.grid-container {
    display: grid;      																	/*Блочный Grid и Grid-inline - строчный Grid*/
    grid: 1fr 25% 30px / 40% 1fr; 												/* ряды  - 1fr + 25% + 30px = 100%  / колонки   40% + 1fr = 100%*/
	grid-gap: 1em;                                  									/*Отступ между эллементами*/
	grid-template-areas: "header  header  header"		 /*Расположение ячеек в блоке*/
					 						"имя  имя4  имя5"
					 						"имя  none   .";
	/* или можно так.*/
	grid-template-areas: "header  header header"  "имя  имя4 имя5"  "имя6 none .";
	grid-area: header;                                               				/*.grid-container в области имеет название header*/
	align-content:   значение;   /* выравнивает ряды по вертикали ↓↑*/													
	justify-content: значение;   /* выравнивает колонки по горизонтали ←→	*/							
	place-content: cener;            /*Два значения сразу*/															
  }

  .item-a {
	grid-column: 1;            /*В первой колоне*/
	grid-row: 2;				 /*Во-втором ряду*/
}



/********************************************************************************************************************************************************************
Font и Text
*********************************************************************************************************************************************************************/
p.a {
	font: 15px Arial, sans-serif;   				                /*Понятно*/
	font-family: Arial, Helvetica, sans-serif;  	      /*Если не Arial, то Helvetica*/
	font-feature-settings: "smcp" on;                     /*Настройки шрифта*/
	font-kerning: normal;                                          /*Тоже не совсем понятное св-во*/
	font-size: 15px;						                                /*Ага*/
	font-size-adjust: 0.58;                                          /*Св-во размера шрифта для всех семейст одинаково*/
	font-style: italic;						                                /*Тоже вполне понятно, что к чему*/
    font-weight: normal;                                            /*Жир шрифта*/
    letter-spacing: 20px;                                            /*Отступы между буквами*/
    line-height: 20px;                                                  /*Отступы между строками*/
    tab-size: 16;                                                              /*Табуляция*/
    text-align: justify;                                                    /* Расположение текста */
    text-align-last: justify;                              /* Расположение последней строки текста*/
    text-decoration: underline overline;    
    text-decoration-color:red;
    text-decoration-style: double;
    text-emphasis: open;                            /*Украшения*/
    text-emphasis-color: blue;
    text-indent: 20px;                              /*Расстояние от первой заглавной*/
    text-orientation: upright;              /*Тест распрложением, как в японии*/
    text-transform: lowercase;              /*Все буквы маленькой капсуляции*/
    white-space: nowrap;                    /*Не переносит текст Pre -  переносит в полном объёме, как напишу*/
    word-spacing: 30px;                      /*Ширина пробела*/
    writing-mode: vertical-rl;             /*Переворачивает TXT*/
}



/********************************************************************************************************************************************************************
Lists
*********************************************************************************************************************************************************************/
ul {
    list-style: square inside url("sqpurple.gif");       /*type, position img*/
  }



/********************************************************************************************************************************************************************
Margin и Padding
*********************************************************************************************************************************************************************/
div {
    margin-block: 35px;                         /*Отступ сверху, снизу*/
    margin-block-end: 35px;                 /*Отступ снизу блока*/
    margin-block-start: 35px;               /*Отступ сверху блока*/
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-inline-start: 20px;               /*Отступ слева*/
    margin-inline-end: 20px;                /*Отступ справа*/
    margin-inline: 25px;                        /*Отступ слева, справа*/
  }
/*Padding аналогично*/



/********************************************************************************************************************************************************************
Что-то типо отключение дисплея
*********************************************************************************************************************************************************************/
h2.b {
    visibility: hidden;    /*Прячет эллемент*/
  }



/********************************************************************************************************************************************************************
Позиционирование
*********************************************************************************************************************************************************************/
img {
	display: block;
	/*block — элемент ведёт себя как блочный.
	/*inline-block — элемент ведёт себя снаружи как строчный, а внутри как блочный.*/
    position: absolute;
	/*static — значение по умолчанию, элемент позиционируется в соответствии с его местом в потоке документа;*/
	/*relative — элемент позиционируется относительно своего исходного положения в потоке документа;*/
	/*absolute задаёт точное местоположение элемента на странице, независимо от других элементов на странице. Т.Е., 1-ый блок сливается с 3-им*/
	/*Fixed задаёт элемент на фиксированном месте на странице, независимо от прокрутки страницы.*/
    left: 0px;
    top: 0px;
    z-index: -1;                   /*Приоритет перекрытия котента*/
  }



  /********************************************************************************************************************************************************************
Псевдоклассы
*********************************************************************************************************************************************************************/
a:link {					/*Используется для ссылко, которые не открывали*/
	color: blue;
  }

  :visited {			/*Используется для всех эллементов, которые уже открывали (ссылки)*/
	color: red;
  }

  .link {																													/*При наведении пропадает за 0.5с*/
	color: #ffffff;
	text-decoration-color: #2E9AFF;
	/* Скорость исчезновения фонового цвета */
	transition: background-color 0.5s linear;
  }
  
  .link:hover {														
	background-color: #2E9AFF;																	/*При наведении появляется за 0.1с*/
	/* Скорость изменения фонового цвета на голубой */
	transition: background-color 0.1s linear;
  }

/*Стилизация ссылок 
Если вы задаёте стили для разных состояний ссылок, 
то следует придерживаться определённого порядка в 
объявлении стилей: :link — :visited — :focus — :hover — :active.*/

.list-item:nth-child(2) {								/*У второго списка будут применяться св-ва, когда классы одинаковые*/
	background-color: #41E847;
}


button:focus {											/*При табуляции стилизуем обводку*/
	outline: 2px solid #ffffff;
	outline-offset: 3px;
  }

  li:not(:last-child) {									/*Всё кроме последнего эллемента*/
	margin-bottom: 1em;
  }

  .checkbox:checked + .checkbox-title::after {		/*Стилизация активированной кнопки*/
	content: '';
	position: absolute;
	left: 6px;
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	rotate: 45deg;
	border-radius: 3px;
	background-color: #2E9AFF;
  }

  .dropdown :checked ~ label {			/*В блоке активируется label и окрашивается */
	color: #2E9AFF;
  }

  .with-empty:empty {						/*Управление блоком, если он может быть пустым*/
	display: none;
  }

  button:hover,
 button:focus,
 button:hover ~ button,					/*Так делаются звёзды для рейтинга*/
 button:focus ~ button {
  color: #F498AD;
}

:is(header, main, footer) p:hover {			/*C IS*/
	color: red;
	cursor: pointer;
  }

header p:hover,					/*Без IS*/
main p:hover,
footer p:hover {
  color: red;
  cursor: pointer;
}

/*
:in-range /для полей, в которых введённое значение попадает в диапазон от min до max;
:out-of-range для полей, в которых введённое значение не попадает в диапазон от min до max.
:invalid для заполнений с ошибкой;
:valid для верных заполнений.
*/


/*Валидация формы*/

input:invalid {
	border: 2px solid red;
  }
  
  input:invalid + .validity-icon::before {
	content: '✖';
	color: red;
  }
  
  input:valid + .validity-icon::before {
	content: '✓';
	color: green;
  }
  
  [type="checkbox"]:invalid {
	outline: 2px solid red;
	outline-offset: 2px;
  }

  form:invalid {
	border-color: red;
  }
  
  form:valid {
	border-color: green;
  }
  
  fieldset:invalid {
	border-color: red;
  }
  
  fieldset:valid {
	border-color: green;
  }

  :root {														/*Авторская надстройка главного родителя (выше тэга HTML*/
	background-color: peachpuff;
  }
  
  html {
	background-color: tomato;
  }

  input:indeterminate {												/*Кнопки с которыми не взаимодействовали*/
	opacity: 0.45;
  }



  /********************************************************************************************************************************************************************
Псевдоэллементы
*********************************************************************************************************************************************************************/
a::before {								/*Идёт перед a*/
	content: "♥";
  }

  a::after {							/*Идёт после a*/
	content: "→";
  }

  .form-input::placeholder {	/*Стилизация подсказки*/
	color: gray;
  }

  blockquote::first-letter {		/*Стиль для первой буквы*/
	font-size: 1.86rem;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.12rem;
  }

  p::first-line {						/*Стиль для первой строки*/
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color: deepPink;
  }

  p::selection {							/*Стилизация выделенного текста*/
	--color-shadow: #000000;
	color: #ffffff;
	background-color: #2e9aff;
	text-shadow:
	  1px 0 1px var(--color-shadow),
	  0 1px 1px var(--color-shadow),
	  2px 1px 1px var(--color-shadow),
	  1px 2px 1px var(--color-shadow),
	  3px 2px 1px var(--color-shadow),
	  2px 3px 1px var(--color-shadow);
  }

  li::marker {				/*Cтилизация маркеров в списке*/
	color: #2e9aff;
  }



/********************************************************************************************************************************************************************
Функции 
*********************************************************************************************************************************************************************/
div::before {
	content: "Элемент с классом " attr(class);		/*Получает значение атрибута*/
	width: calc(33.3% - 80px);										/*Вычитает разные еденицы измерения*/

	width: min(50%, 500px);/*В примере выше указано min(50vw, 350px), что означает: элемент 
													занимает 50% ширины вьюпорта, но не больше 350 px.*/

	background-image:  linear-gradient(#6e4aff, #49A16C);     /*Заливка градиентом*/
	background-image: linear-gradient(0.25turn, #2E9AFF, #FFD829); /*Первым параметром можно передать единицу 
	измерения угла (deg, turn), и тогда линия, вдоль которой строится градиент, повернётся на нужный угол:*/
	background: linear-gradient(#F498AD 10%, transparent);						/*Градиент уходящий в прозрачность*/
	background: linear-gradient(#F498AD 10%, rgb(244 152 173 / 0));   /*Градиент уходящий в прозрачность на Safari*/

	background-image: radial-gradient(circle, #09ff00, red);				/*Радиальный градиент*/

	/*:root {											*При нажатии на кнопку поменяется цвет в переменной*
		--card-color: purple;
	  }
	  .card {
		background-color: var(--card-color);
	  }
	  document.documentElement.style.setProperty('--card-color', 'midnightblue')*/

}	  